

body {
  margin: 0;
}

.container {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

header {
  padding: 10px 0 10px;
}
.header-wrapper {
  display: flex;
  justify-content: space-between;
}

.header__navbar-menu {
    display: flex;
    width: 470px;
    justify-content: space-between;
}

.header__navbar-menu {
  list-style-type: none;
}

.navbar-menu__link {
  text-decoration: none;
  color: #1e1e1e;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 20px;
}

main {
  background-image: url(./img/main-bg.png);
  background-position: center;
  height: 659px;
}

.main__container {
  width: 550px;
  margin-left: auto;
  margin-right: auto;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 92px 0 106px;
}

.main__title {
  margin: 0;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 34px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: 90px;
  text-align: center;
}

.main__title_accent {
  font-size: 82px;
  font-weight: 700;
}

.line {
  width: 460px;
  height: 3px;
  background-color: #ffffff;
  margin: 0;
}

.main__subtitle {
  display: flex;
  flex-direction: column;
  margin-top: 44px;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 26px;
  text-align: center;
  margin-bottom: 50px;
}

.main__subtitle_accent {
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
}

.main__price {
    font-size: 48px;
}

.main__buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.main__button {
  padding: 22px 19px 20px;
  border: 2px solid #ffffff;
  font-family: "Open Sans - Semibold";
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
  background: transparent;
  color: #fff;
  text-transform: uppercase;
}
.description {
padding: 50px 0 20px;
}

.description__container {
  width: 100%;
}

.description-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.description__title {
  margin: 0;
  color: #1e1e1e;
  font-family: "Open Sans";
  font-size: 36px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 23px;
}

.description__line {
  width: 90px;
  height: 3px;
  background-color: #000000;
  margin: 0;
  margin-bottom: 26px;
}

.description__text {
  width: 910px;
  min-height: 117px;
  color: #1e1e1e;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
  line-height: 30px;
  margin-bottom: 26px;
}

p {
  margin: 0;
}

.description__images{
  display: flex;
}

.description__image {
  width: 320px;
  height: 320px;
  object-fit: cover;
}

.description__image-extreme {
  width: 160px;
  height: 320px;
  object-fit: cover;
}