

body {
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

/* header */

header {
  padding: 10px 0 10px;
}
.header-wrapper {
  display: flex;
  justify-content: space-between;
}

.header__navbar-menu {
    display: flex;
    width: 470px;
    justify-content: space-between;
}

.header__navbar-menu {
  list-style-type: none;
}

.header__navbar-menu__link {
  text-decoration: none;
  color: #1e1e1e;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 20px;
}

/* main */

main {
  background-image: url(./img/bg-main.png);
  background-position: center;
  height: 659px;
}


.main__background {
  width: 100%;
  position: absolute;
  margin: 0 auto;
  z-index: -1;
  height: 100%;
}

.main__background_left {
  bottom: -8px;
  left: -220px;
  z-index: -1;
  position: absolute;
}

.main__background_right {
  position: absolute;
  bottom: -8px;
  right: -220px;
  z-index: -1;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 92px 0 106px;
  width: 550px;
  position: relative;
  z-index: 1;
  left: 0;
}

.main__container {
  display: flex;
  justify-content: center;
}

.main__background-container {
  position: relative;
  height: initial;
  display: block;
}
.main__title {
  margin: 0;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 34px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: 90px;
  text-align: center;
}

.main__title-accent {
  font-size: 82px;
  font-weight: 700;
}

.main__line {
  width: 460px;
  height: 3px;
  background-color: #ffffff;
  margin: 0;
}

.main__subtitle {
  display: flex;
  flex-direction: column;
  margin-top: 44px;
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 26px;
  text-align: center;
  margin-bottom: 50px;
}

.main__subtitle-accent {
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;
}

.main__price {
    font-size: 48px;
}

.main__buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.main__button {
  padding: 22px 19px 20px;
  border: 2px solid #ffffff;
  font-family: "Open Sans - Semibold";
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
  background: transparent;
  color: #fff;
  text-transform: uppercase;
}

/* description */

.description {
padding: 50px 0 0;
}

.description__container {
  width: 100%;
}

.description-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.description__title {
  margin: 0;
  color: #1e1e1e;
  font-family: "Open Sans";
  font-size: 36px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 23px;
}

.line {
  width: 90px;
  height: 3px;
  background-color: #000000;
  margin: 0;
  margin-bottom: 26px;
}

.description__text {
  width: 910px;
  min-height: 117px;
  color: #1e1e1e;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
  line-height: 30px;
  margin-bottom: 26px;
}

p {
  margin: 0;
}

.description__images{
  display: flex;
  overflow: hidden;
}


/* table-size */

.table-size {
  background-image: url(./img/BG-size.png);
  background-position: center;
  min-height: 431px;
  background-repeat: no-repeat;
  background-size: cover;
}

.table-size__container {
  padding: 41px 0 20px;
}

.table-size-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.table-size__title {
  margin: 0;
  color: #1e1e1e;
  font-family: "Open Sans";
  font-size: 36px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.table {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
  padding: 30px;
  margin-bottom: 30px;
}

.table__line {
  display: grid;
  grid-template-columns: 9rem repeat(6, 7.375rem);
}

.name-parameter {
  color: #1e1e1e;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 48px;
}

.size-international {
  color: #1e1e1e;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
}

.size-rus {
  color: #1e1e1e;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 48px;
  text-align: center;
}

.size {
  color: #1e1e1e;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 48px;
  text-align: center;
}

.table__line-international{
  padding: 16px 41px 11px 29px;
  background-color: #f3f3f3;
}

.table__line-rus {
  padding: 16px 46px 11px 29px;
  background-color: #ffffff;
}

.table__line-hips { 
  padding: 16px 30px 11px 29px;
  background-color: #f3f3f3;
}

.table__line-waist {
  padding: 16px 32px 11px 29px;
  background-color: #ffffff;
}

.table__line-breast {
  padding: 16px 28px 11px 29px;
  background-color: #f3f3f3;
}

/* catalog */

.catalog {
  padding: 49px 0 50px;
}

.catalog-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.catalog__title {
  margin: 0;
  color: #1e1e1e;
  font-family: "Open Sans";
  font-size: 36px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.catalog__radio-buttons {
	display: flex;
	overflow: hidden;
  margin-bottom: 30px;
}


.catalog__radio  {
	display: none;
}

.catalog__button  {
  display: block;
	padding: 27px 35px 22px;
  border: none;
  font-family: "Open Sans - Semibold";
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
  background-color: #f3f3f3;
  color: #1e1e1e;
  text-transform: uppercase;
	cursor: pointer;
	user-select: none;   
}

.catalog__erotic {
  display: none;
}


 
/* Checked */
.catalog__radio-buttons .button-1 input[type=radio]:checked + label {
	background: #ba0152;
  color: #ffffff;
}
.catalog__radio-buttons .button-2 input[type=radio]:checked + label {
	background: #ba0152;
  color: #ffffff;
}



.catalog__cards {
  display: grid;
  grid-template-columns: repeat(3, minmax(min-content, 1fr));
  grid-gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 300px;
  height: 608px;
  border: 1px solid #dbdbdf;
  background-color: #ffffff;
  padding-bottom: 23px;
}

.card__image-discount {
  position: absolute;
  z-index: 1;
  margin-top: 10px;
  margin-left: 7px;
  border-radius: 50%;
  background-color: #b4014e;
  color: #e6e6e6;
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 36px;
  padding: 22px 8px;
  min-width: 60px;
}

.card__image {
  width: 300px;
  height: 350px;
  object-fit: cover;
  margin-bottom: 17px;
}

.card__title {
  color: #1e1e1e;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 36px;
  text-align: center;
  margin: 0;
}

.card__sizes {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
}

.size__radio {
  display: none;
}

.card__size {
  color: #1e1e1e;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}

.card__size-absent {
  color: #ceced3;
}

/* Checked */
.size__radio_btn input[type=radio]:checked + label {
	border: 1px solid red;
  padding: 0 4px;
  border-radius: 9px;
}

.card__colors {
  display: flex;
  width: 30%;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.color__radio {
  display: none;
}

.card__color-black {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #dbdbdf;
  background-color: #000000;
  cursor: pointer;
}

.card__color-red {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #dbdbdf;
  background-color: #ff0000;
  cursor: pointer;
}

/* Checked */
.сolor__radio_btn input[type=radio]:checked + label {
  border: 3px solid red;
}

.card__prices{
  display: flex;
  width: 65%;
  justify-content: space-between;
  margin-bottom: 14px;
}

.card__price-old {
  color: #8c8c8c;
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 36px;
  text-align: left;
  text-decoration: line-through;
}

.card__price-new {
  color: #b4014e;
  font-family: "Open Sans";
  font-size: 30px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 36px;
  text-align: right;
}

.card__button {
  width: 260px;
  height: 56px;
  box-shadow: 0 4px 0 #375cb3;
  border-radius: 4px;
  background-color: #e8a900;
  background-image: linear-gradient(to top, #4776e6 0%, #8e54e9 100%);
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}

/* order */

.order {
  padding: 20px 0 40px;
}

.order__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order__title {
  color: #1e1e1e;
  font-family: "Open Sans";
  font-size: 60px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.order__steps {
  display: flex;
  justify-content: space-between;
  max-width: 960px;
}

.order__step {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 85%
}

.step__icon {
  width: 130px;
  height: 130px;
  border: 6px solid rgba(180, 1, 78, 0.5);
  background-color: #b4014e;
  border-radius: 50%;
  margin-bottom: 18px;
}

.step__img {
  position: absolute;
  z-index: 1;
  margin-top: 40px;
  margin-left: 39px;
}

.step__ellipse {
  width: 10px;
  height: 10px;
  border: 3px solid #ceced3;
  background-color: #ceced3;
  border-radius: 50%;
  margin-bottom: 20px;
}

.step__line {
  position: relative;
  width: 745px;
  height: 0;
  border: 1px dotted #ceced3;
  bottom: 77px;
}


.step__text {
  color: #1e1e1e;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 24px;
  text-align: center;
  width: 96%;
}

/* popup */

.popup__overlay {
	content: '';
	background-color: rgba(15, 0, 0, 0.5);
	position: fixed; 
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%;
	opacity: 0.7;
	z-index: 9900;
  visibility: hidden;
  opacity: 0;
}
.popup__overlay--visible {
  visibility: visible;
  opacity: 1;
}

.popup__dialog {
  position: fixed;
  top: 30%;
  left: 30%;
  padding: 70px;
  background-color: #b4014e;
  border-radius: 8px;
  border: 2px solid rgba(180, 1, 78, 0.5);
  z-index: 9999;
  color: #ffff;
  visibility: hidden;
  opacity: 0;

}
.popup__dialog--visible {
  visibility: visible;
  opacity: 1;
}


.popup__close {
  top: 8%;
  position: absolute;
  left: 94%;
}

.popup__form {
  display: flex;
  flex-direction: column;
}

.input {
  max-width: 70%;
  padding: 8px 10px;
  border: 2px solid rgba(180, 1, 78, 0.5);;
  border-radius: 5px;
  margin-bottom: 15px;  
}


@media (max-width: 992px) {
  .container {
    width: 90%;
  }
  .main__background {
    width: 90%;
  }
  .header__navbar-menu {
    display: none;
  }
  .main-wrapper {
    width: 60%;
  }
  .description {
    display: none;
  }
  .table-size {
    display: none;
  }
  .catalog {
    display: none;
  }
  .order {
    display: none;
  }
}

@media (max-width: 960px) {
  .header-wrapper {
    justify-content: center;
  }
  .main-wrapper {
    padding: 53px 0 124px;
  }
  main {
    height: 607px;
  }
  .main__background_right {
    bottom: 23px;
  }
  .main__background_left {
    bottom: 23px;
  }

}

@media (max-width: 949px) {
  .main-wrapper {
    width: 60%;
    padding: 53px 0 66px;
  }
  .main__buttons {
    width: 61%;
    flex-direction: column;
  }
  .main__button {
    margin-bottom: 20px;
  }
  .main__background_right {
    bottom: 57px;
  }
  .main__background_left {
    bottom: 57px;
  }
  .main__subtitle {
    margin-bottom: 26px;
  }
  .main__line {
    width: 61%;
  }
}

@media (max-width: 803px) {
  .main-wrapper {
    width: 63%;
  }
}

@media (max-width: 764px) {
  .main-wrapper {
    width: 66%;
  }
}

@media (max-width: 730px) {
  main {
    height: 596px;
  }
  .main-wrapper {
    width: 55%;
  }
  .main__title {
    font-size: 24px;
    line-height: 68px;
  }
  .main__title-accent {
    font-size: 57px;
  }
  .main__subtitle {
    font-size: 18px;
    margin-top: 27px;
  }
  .main__buttons {
    width: 75%;
  }
  .main__line {
    width: 75%;
  }
  .main__background_left {
    bottom: 0px;
  }
  .main__background_right {
    bottom: 0px;
  }
}

@media (max-width: 712px) {
  .main-wrapper {
    width: 70%;
  }
}
@media (max-width: 559px) {
  .main-wrapper {
    width: 72%;
  }
  .main__background_left {
    left: -197px;
  }
  .main__background_right {
    right: -185px;
  }
}
@media (max-width: 559px) {
  .main-wrapper {
    width: 77%;
  }
}
@media (max-width: 509px) {
  .main-wrapper {
    width: 79%;
  }
}
@media (max-width: 496px) {
  .main-wrapper {
    width: 81%;
  }
}
@media (max-width: 483px) {
  .main-wrapper {
    padding: 70px 0 88px;
  }
  .main__title {
    line-height: 53px;
  }
  .main__button {
    font-size: 14px;
    line-height: 25px;
  }
}
@media (max-width: 433px) {
  .main__background_left {
    display: none;
  }
  .main-wrapper {
    align-items: flex-start;
  }
  .main__title {
    text-align: left;
  }
  .main__subtitle {
    text-align: left;
  }
  .container {
    width: 95%;
    margin: 0;
  }
  .main__background_right {
    right: -123px;
  }
  .main__buttons {
    width: 80%;
  }
}
@media (max-width: 397px) {
  .main-wrapper {
    width: 90%;
  }
}
@media (max-width: 356px) {
  .main__background_right {
    bottom: 48px;
    right: -145px;
  }
  .main__title-accent {
    font-size: 46px;
  }
  .main__title {
    line-height: 50px;
  }
  .main-wrapper {
    padding: 30px 0 88px;
  }
}
@media (max-width: 356px) {
  .main-wrapper {
    width: 92%;
  }
  .main__buttons {
    width: 85%;
  }
}